<h2>About BitCode</h2>
<p>BitCode is a group of four CS undergrads from WBUT In-House.</p>

<h2>Projects</h2>
<ul>
  <li>Rampage</li>
  <li>AIRYL</li>
</ul>

<p>For more information, head over to <a href="https://github.com/PhoenixRRDS">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PhoenixRRDS">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://rudranilbasu.me">The Author</a>
  </li>
</ul>
